<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <script defer src="/js/script.js"></script>
    <title>Planets App</title>
  </head>
  <body>
    <!-- Video Background -->
    <video id="background-video" autoplay muted loop playsinline>
      <source src="/videos/solar.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <!-- Content -->

    <div class="content">
      <h1>Welcome to the Planets app!</h1>
      <img
        class="planet-pic1"
        src="/imgs/planet.png"
        alt="Observe the planets stories"
      />
      <% if (user) { %>
        <h1>Welcome to the app, <%= user.username %>!</h1>
        <a href="/auth/sign-out">Sign Out</a>
        <% } else { %>
        <h1>Welcome to the app, guest.</h1>
        <p>
          <a href="/auth/sign-up">Sign up</a> 
          <a href="/auth/sign-in">sign in</a>.
        </p>
        <% } %>
      <p>An app for observing the planets.</p>
      <nav>
        <ul>
          <li>
            <a class = "planets-main" href="/planets">Planets</a>
          </li>
          <li>
            <a href="/planets/new">Add New Planet</a>
          </li>
        </ul>
      </nav>
      <footer class="footer">Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
    </div>
  </body>
</html>