<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Edit a planet</title>
  </head>
  <body>
    <!-- update the header -->
    <h1>Edit <%= planet.name %></h1>

    <!-- updated form -->
    <form action="/planets/<%= planet._id %>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= planet.name %>" />
        
      <!-- Image URL Field -->
        
      <label for="image">Image URL:</label>
      <input type="url" name="image" id="image" value="<%= planet.image %>" required />

      <label for="description">Description:</label>
      <textarea name="description" id="description" required maxlength="1000"></textarea>

      <div class="checkbox-div">
        <label for="isReadyToObserve">Ready to Observe?</label>
        <input
          type="checkbox"
          name="isReadyToObserve"
          id="isReadyToObserve"
          <% if (planet.isReadyToObserve) { %>
            checked
          <% } %>
        />
      </div>

      <button type="submit">Edit planet</button>
    </form>

    <!-- edit.ejs / show.ejs -->
    <a class="planets-index-link" href="/planets">
      <div class="index-link-text">Back to planets</div>
    </a>
  </body>
</html>