<!-- views/planets/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a planet</title>
  </head>
  <body>
    <h1>Create a New Planet!</h1>
    <nav>
        <ul>
            <li>
                <a href="/planets">
                  Back to planets
                </a>
            </li>
        </ul>
    </nav>
    <!-- <fieldset aria-labelledby="message-legend"> -->
    <form action="/planets" method="POST">

       
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />
        <label for="description">Description:</label>
        <textarea name="description" id="description" required maxlength="1000"></textarea>
        <label for="image">Image URL:</label>
        <input type="url" name="image" id="image" required />
        <div class="checkbox-div">
        <label for="isReadyToObserve">Ready to Observe?</label>
        <input type="checkbox" name="isReadyToObserve" id="isReadyToObserve" />
        </div>
        <button type="submit">Add planet</button>
      </form>
    <!-- </fieldset> -->
  </body>
</html>
